@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

body#body-login {
    background-color: #759BE0;
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
}

.area-login {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: #7961AA;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 320px;
    padding: 35px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input {
    margin-top: 10px;
    background-color: #42345e;
    color: rgb(202, 202, 202);
    padding-left: 15px;
    border: none;
    height: 45px;
    outline: none;
    border-radius: 5px;
}

.inputmain {
    transition: 0.2s;
}

.inputmain:focus {
    background-color: #5f4b88;
}

input::placeholder {
    color: rgb(126, 126, 126);
}

form [type="submit"]{
    display: block;
    background-color: #4fb677;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

form [type="submit"]:hover {
    background-color: #58ca84;
}

form [type="submit"]:active {
    background-color: #a4ffc7;
}

.logo img {
    height: 80px;
}

.login p {
    margin: 1px;
    padding: 2px;
    color: rgb(202, 202, 202);
    text-align: center;
    display: flex;
    flex-direction: column;

}

p#add{
    margin-top: 20px;
}

.login a {
    text-decoration: none;
    color: #4fb677;
    font-weight: 700;
}

.login a:hover {
    color: #58ca84;
}

.login a:active {
    color: #F0BF5B;
}

/* ---------------acervo-------------- */

body#body-acervo {
    background-color: #759BE0;
}

header {
    height: 70px;
    width: auto;
    background-color: #7961AA;

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: flex-start;
}

header p {
    display: flex;
    align-self: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    color: rgb(228, 228, 228);
}

header img {
    margin: 10px;

}

nav {
    height: 40px;
    width: auto;
    background-color: #61B581;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#pesquisa {
    height: 20px;
    margin-left: 5px;
    border: none;
    outline: none;
    padding: 3px;
    padding-left: 5px;
    border-radius: 2px;
    background-color: #2f6e47;
    color: rgb(228, 228, 228);
    transition: 0.2s;
}

#pesquisa:focus{
    background-color: #3b8b5a;
}

#btnpesquisa {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 3px;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #F0BF5B;
    transition: 0.2s;
    margin-right: 10px;
}

#btnpesquisa:hover {
    background-color: #f5d18a;
}

#filtros {
    height: 20px;
    border: none;
    outline: none;
    transition: 0.5s;
}

main {
    display: flex;
    flex-flow: row wrap;
}

.book-box {
    display: flex;
    flex-flow: column wrap;
    background-color: #F1655D;
    width: 40vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.185);
}

.avaliacao {
    display: flex;
}
.star-icon{
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 1.5em;
}

/* ---------------ranking-------------- */

/* body#body-ranking{
    background-color: #759BE0;
    font-family: 'Work Sans', sans-serif;
}
header{
    height: 10vh;
    background-color: #7766A8;
    display: flex;
    flex-direction: row;
    justify-content: flex-starts;
    margin-bottom: 15px;
}
header img{
    margin: 10px;
    
}
header > p {
    align-self: center;
}
header p {
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
}
main{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#content{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 80vh;
    border-radius: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.celulas{
    border: 1px solid black;
    border-radius: 7px;
    width: 100%;
    height: 5vh;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.celulas p {
    background-color: rgb(140, 140, 199);
    margin: 5px;
} */
